# infra/traefik/middleware-auth.yaml
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: forward-auth
  namespace: default      # đặt namespace nơi bạn muốn expose middleware. thường là namespace app (ví dụ default)
spec:
  forwardAuth:
    address: "http://user-service-service.default.svc.cluster.local:8080/api/user/public/verify"
    # phương thức dùng để forward (GET/POST); server auth của bạn phải hỗ trợ
    trustForwardHeader: true
    authResponseHeaders:
      - "X-User-Id"
      - "X-User-Role"
      - "X-Username"
    # optional: timeout
    # tls:
    #   insecureSkipVerify: false
