http:
  middlewares:
    auth-forward:
      forwardAuth:
        address: "http://auth-service.default.svc.cluster.local:8080/verify"
        trustForwardHeader: true
        authResponseHeaders:
          - "X-User-ID"
          - "X-User-Role"
