@import './base.css';

* {
  --main-color: #1aba1a;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f8f9fa;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.main-container {
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.two-line-ellipsis {
  --line-height: 20px;
  height: calc(var(--line-height) * 2);
  line-height: var(--line-height);

  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.one-line-ellipsis {
  --line-height: 20px;
  height: calc(var(--line-height) * 1);
  line-height: var(--line-height);

  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.border-radius {
  border-radius: 8px;
}

.el-col-4-8 {
  flex: 0 0 20% !important;
  max-width: 20% !important;
}
