MONGO_URI="mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?appName=e-commerce"
DB_NAME="ecommerce"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT="587"
EMAIL_USERNAME="example@gmail.com"
EMAIL_PASSWORD="your_email_app_password"
CLIENT_URL="http://localhost:3000"
AWS_ACCESS_KEY_ID="your_aws_access_key"
AWS_SECRET_ACCESS_KEY="your_aws_secret_key"
AWS_S3_BUCKET_NAME="your_s3_bucket_name"
AWS_REGION="ap-southeast-1"
AWS_EC2_METADATA_DISABLED=true
AWS_S3_ENDPOINT=""
RABBITMQ_URL="amqp://guest:guest@localhost:5672/"
RABBITMQ_USER_INTERACTION_QUEUE="user.interaction"
PRODUCT_SERVICE_URL="http://localhost:8085"
